<div>
  <img *ngIf="!sprite" src="{{ path }}">
  <canvas #sprite *ngIf="!!sprite"></canvas>
  <ion-icon class="card--locked" *ngIf="locked" src="./assets/icon/locked.svg"></ion-icon>
</div>

<div class="description__container">
  <span *ngIf="!translate" class="description__container__label">{{ description }}</span>
  <span *ngIf="translate" class="description__container__label">{{ description | translate }}</span>
</div>


<div class="price__container">
  <ion-icon class="price__container__icon" src="./assets/icon/coins.svg"></ion-icon>
  <span class="price__container__label">{{ price }}</span>
</div>

