<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'Label.Shop' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="money-header">
    <ion-icon src="./assets/icon/coins.svg" slot="start" class="money-header__icon"></ion-icon>
    <span class="money-header__label">{{ money | async }}</span>
  </div>
  <div class="category-header">{{ 'Label.Levels' | translate }}</div>
  <ion-slides class="slider" [options]="{ loop: true, pager: true }" [pager]="true">
    <ion-slide *ngFor="let level of lockedLevels">
      <shop-card (click)="buyFeature(level)"
                 [path]="level.path"
                 [description]="level.name"
                 [locked]="!level.isEnabled"
                 [price]="level.price || 0" [class.disabled]="!!level.isEnabled">
      </shop-card>
    </ion-slide>

  </ion-slides>

  <div class="category-header">{{ 'Label.Fences' | translate }}</div>
  <ion-slides class="slider" [options]="{ loop: true, pager: true }" [pager]="true">
    <ion-slide *ngFor="let fence of lockedFences">
      <shop-card (click)="buyFeature(fence)"
                 [path]="fence.path"
                 [price]="fence.price || 0"
                 [description]="fence.name"
                 [locked]="!fence.isEnabled"
                 [sprite]="{
                  width: 1200,
                  height: 100,
                  frames: 6,
                  frame: 0,
                  zoomFactor: 1.25,
                  animationStartFrame: 0,
                  animationEndFrame: 5
                 }"
                 [class.disabled]="!!fence.isEnabled">
      </shop-card>
    </ion-slide>
  </ion-slides>
</ion-content>
